<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyj.demo.mapper.SysUserNasMapper">

    <resultMap id="BaseResultMap" type="com.hyj.demo.entity.SysUserNas" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="nas_id" property="nasId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                user_id,
                nas_id,
                create_time,
                update_time,
                create_by,
                update_by
    </sql>
    <sql id="sys_user_nas_Where_List">
        <where>
            <if test ='null != id and id!= "" '>
                AND  id = #{id}
            </if>
            <if test ='null != userId and userId!= "" '>
                AND  user_id = #{userId}
            </if>
            <if test ='null != nasId and nasId!= "" '>
                AND  nas_id = #{nasId}
            </if>
            <if test ='null != createTime and createTime!= "" '>
                AND  create_time = #{createTime}
            </if>
            <if test ='null != updateTime and updateTime!= "" '>
                AND  update_time = #{updateTime}
            </if>
            <if test ='null != createBy and createBy!= "" '>
                AND  create_by like CONCAT('%',#{createBy},'%')
            </if>
            <if test ='null != updateBy and updateBy!= "" '>
                AND  update_by = #{updateBy}
            </if>
        </where>
    </sql>
    <insert id="insertSysUserNas" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.hyj.demo.entity.SysUserNas">
        INSERT INTO sys_user_nas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != userId and userId!= "" '>
                user_id,
            </if>
            <if test ='null != nasId and nasId!= "" '>
                nas_id,
            </if>
            <if test ='null != createTime and createTime!= "" '>
                create_time,
            </if>
            <if test ='null != updateTime and updateTime!= "" '>
                update_time,
            </if>
            <if test ='null != createBy and createBy!= "" '>
                create_by,
            </if>
            <if test ='null != updateBy and updateBy!= "" '>
                update_by
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != userId and userId!="" '>
                #{userId},
            </if>
            <if test ='null != nasId and nasId!="" '>
                #{nasId},
            </if>
            <if test ='null != createTime and createTime!="" '>
                #{createTime},
            </if>
            <if test ='null != updateTime and updateTime!="" '>
                #{updateTime},
            </if>
            <if test ='null != createBy and createBy!="" '>
                #{createBy},
            </if>
            <if test ='null != updateBy and updateBy!="" '>
                #{updateBy}
            </if>
        </trim>
    </insert>

    <delete id="deleteSysUserNas" >
        DELETE FROM sys_user_nas
        WHERE id = #{id}
    </delete>

    <update id="updateSysUserNas" parameterType="com.hyj.demo.entity.SysUserNas">
        UPDATE sys_user_nas
        <set>
            <if test ='null != userId and  userId!="" '>user_id = #{userId},</if>
            <if test ='null != nasId and  nasId!="" '>nas_id = #{nasId},</if>
            <if test ='null != createTime and  createTime!="" '>create_time = #{createTime},</if>
            <if test ='null != updateTime and  updateTime!="" '>update_time = #{updateTime},</if>
            <if test ='null != createBy and  createBy!="" '>create_by = #{createBy},</if>
            <if test ='null != updateBy and  updateBy!="" '>update_by = #{updateBy}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="loadSysUserNas" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user_nas
        WHERE id = #{id}
    </select>

    <select id="pageListSysUserNas" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_user_nas
        <include refid="sys_user_nas_Where_List" />
        <if test="PRIMARYNO!= null">
            order by PRIMARYNO desc
        </if>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCountSysUserNas" parameterType="map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM sys_user_nas
        <include refid="sys_user_nas_Where_List" />
    </select>

</mapper>